__pycache__
*.pyc*
*.pyo
*.so
*.pyd
.idea/*
venv/
*.csv
*.pth
*.zip
*.ods
*.ods#
*.png
*.pdf
*.jpeg
 .venv/
/modelos/
*.ipynb
/data/
.idea/
reports/
src/utils/__pycache__/
*.db
src/LLM/dataset
lightning_logs/

*.pkl
*.svg
notebooks/
.venv/bin
